body {
  background-color: #fafafa;
}

div.todo-box {
  margin: 0 auto;
  width: 65%;
  display: block;
  padding: 1em;
  margin-top: 2em;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 8px #ddd;
}

h2.page-header {
  font-family: 'Catamaran';
  font-weight: 500;
  color: #333;
}

form.todo-form {
  margin-bottom: 1em;
}

ul.todo-list {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 2em;
}

ul.todo-list li {
  border: 0;
  border-bottom: 1px solid #ddd;
  padding: 0 1em;
}

ul.todo-list input.todo-check {
  display: none;
}

ul.todo-list div.todo-item {
  padding: 12px 0 6px 0;
  color: #444;
}

ul.todo-list form.todo-label {
  display: inline-block;
}

ul.todo-list .todo-label {
  font-family: 'Delius', cursive;
  font-size: 18px;
}

ul.todo-list form.todo-label input,
ul.todo-list form.todo-label input:focus {
  border: 0;
  border-bottom: 1px solid #aaa;
  outline: 0;
  position: relative;
  top: -3px;
  width: 90%;
}

ul.todo-list p.todo-label {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  top: -2px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}

ul.todo-list li.complete p.todo-label {
  text-decoration: line-through;
}

ul.todo-list li span.todo-check {
  margin-right: 1em;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
}

ul.todo-list li span.todo-check:before {
  content: '☐';
}

ul.todo-list li.complete span.todo-check:before {
  content: '☑';
}

ul.todo-list li a.todo-remove {
  opacity: 0;
  position: relative;
  top: 4px;
  transition: all 0.75s;
}

ul.todo-list li:hover a.todo-remove {
  opacity: 1;
  font-size: 18px;
}

form.todo-form input.form-control {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 18px;
  border: 0;
  border-bottom: 2px solid #999;
}
